@import url("https://fonts.cdnfonts.com/css/do-futuristic");

body {
  margin: 0;
  font-family: "DO Futuristic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #ffffff, #ffffff);
  background-color: #faf887; /* fallback background color */
}

.blue {
  color: #00bfff;
  font-weight: bold;
}

.light-blue-border {
  border: 2px solid #00bfff;
}

.glitch {
  position: relative;
  display: inline-block;
  animation: glitch 1s linear infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.glitch::before {
  color: #00bfff;
  text-shadow: -2px 0 #00bfff;
}

.glitch::after {
  color: #00bfff;
  text-shadow: 2px 0 #00bfff;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 768px) {
  body {
    background-image: none; /* Remove background image */
    background-color: #faf887; /* Set background color */
  }

  .glitch {
    animation: none; /* Disable glitch animation on smaller screens */
  }

  .blue {
    font-size: 18px; /* Adjust font size for better readability on smaller screens */
  }
}
